---
layout: page
---

<div class="post">

{% include profile_category.liquid
   title="D.Sc."
   profiles=page.profiles_dsc
%}

{% include profile_category.liquid
   title="M.Sc."
   profiles=page.profiles_msc
%}

{% include profile_category.liquid
   title="Undergraduate"
   profiles=page.profiles_undergrad
%}

{% if page.alumni_msc or page.alumni_undergrad or page.alumni_dsc %}
<article>
  <h2 class="category_profile">Alumni</h2>

  {% if page.alumni_dsc %}
  <details>
    <summary><b>D.Sc.</b></summary>
    <ul>
      {% for alum in page.alumni_dsc %}
        <li>{{ alum }}</li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}

  {% if page.alumni_msc %}
  <details>
    <summary><b>M.Sc.</b></summary>
    <ul>
      {% for alum in page.alumni_msc %}
        <li>{{ alum }}</li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}

  {% if page.alumni_undergrad %}
  <details>
    <summary><b>Undergraduate</b></summary>
    <ul>
      {% for alum in page.alumni_undergrad %}
        <li>{{ alum }}</li>
      {% endfor %}
    </ul>
  </details>
  {% endif %}

</article>
{% endif %}

</div>
