---
layout: page
---

<div class="post">

{% include profile_category.liquid
   title="D.Sc."
   profiles=page.profiles_dsc
%}

{% include profile_category.liquid
   title="M.Sc."
   profiles=page.profiles_msc
%}

{% include profile_category.liquid
   title="Undergraduate"
   profiles=page.profiles_undergrad
%}

{% if page.alumni %}
<article>
<h2 class="category_profile">Alumni</h2>

<details>
<summary><b>Show alumni</b></summary>

<ul>
{% for alum in page.alumni %}
<li>{{ alum }}</li>
{% endfor %}
</ul>

</details>
</article>
{% endif %}

</div>
